<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>FOREX Aktuális Árak</title>
    <th:block layout:fragment="head"></th:block>
</head>
<body>
<div layout:fragment="content">

    <div class="container-fluid hero-header bg-light py-2 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-3 animated slideInDown">
                        Forex <span class="text-primary">Aktuális Árak</span>
                    </h1>
                    <p class="text-secondary mb-2">
                        Válassz egy devizapárt, és nézd meg az aktuális vételi és eladási árakat.
                    </p>
                </div>
                <div class="col-lg-6 text-center animated fadeIn">
                    <img class="img-fluid animated pulse infinite" style="animation-duration: 3s; max-height: 300px;"
                         src="/img/payment-process.png" alt="Valuta Piaci árfolyamok">
                </div>
            </div>
        </div>
    </div>
    <form action="#" th:action="@{/forex/actual-prices}" th:object="${instrumentRequest}" method="post">
        <select name="instruments" th:field="*{instrument}" required>
            <option value="">-- válassz --</option>
            <option th:each="inst : ${instruments}"
                    th:value="${inst.name}"
                    th:text="${inst.name}"></option>
        </select>
        <input type="submit" value="Submit">
    </form>

    <div th:if="${selectedInstrument}" class="card bg-light shadow-sm border-0 p-4">
        <div class="container my-5">
            <h2 th:text="'Aktuális árfolyam – ' + ${price.instrument}"></h2>
            <p>Időpont: <strong><span th:text="${price.time}"></span></strong></p>
            <p>
                Vételi ár (Bid):
                <strong><span class="text-success fw-bold" th:text="${price.bid}"></span></strong><br>
                Eladási ár (Ask):
                <strong><span class="text-danger fw-bold" th:text="${price.ask}"></span></strong><br>
            </p>

            <p>
                Státusz:
                <strong><span th:text="${price.tradeable} ? 'Kereskedésre elérhető' : 'Nem elérhető'"
                              th:classappend="${price.tradeable} ? 'text-success' : 'text-danger'"></span></strong>
            </p>
            <hr>
        </div>

        <div th:if="${priceStr}" class="card bg-light shadow-sm border-0 p-4 mt-4">
            <h5 class="text-secondary">Lekérésre kapott válasz:</h5>
            <pre class="bg-body p-3 border rounded small" th:text="${priceStr}"></pre>
        </div>
    </div>
</div>
</body>
</html>
